<div style="font-size: 14px; line-height: 24px; color: #333; font-family: sans-serif;">
    <p>Fala {{name}}, beleza?</p>
    <p>Vc acabou de criar a sua conta no FakeTweet com o usuário {{username}}</p>
    <p>
        Nos vemos lá!
        <strong>Equipe FakeTweet</strong>
    </p>
</div>